@import "leaflet/dist/leaflet.css";

#app{
  margin: 0;
  height: calc(100vh - 70px - 70px - 40px);
  width: 100%
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 70px - 70px - 40px);
  background-color: #e1c6a8;
}

.background-image {
  background-size: 100% 100vh;/* Ensures the image covers the entire element */
  background-position: top; /* Centers the background image */
  background-repeat: no-repeat;
}

.navigation-bar {
  background-color: #7D1310;
  padding: 10px 20px;
  /*border-radius: 50px;*/
  border-radius: 0 0 40px 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: white;
  /*flex-direction: column;*/
}

.bottom{
  border-radius: 40px 40px 0 0;
}

ul {
  list-style-type: none;
  margin: 5%;
  padding: 5%;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;

}
button.inactive{
  color: lightgray;
  pointer-events: none;
}
.navigation-bar li.active {
  font-weight: 1000;
  color: inherit;
  pointer-events: none;
  /* Add any other styles for active state */
}
.navigation-bar ul li:hover {
  color: inherit !important; /* Change the color on hover */
}
.navigation-bar li.active {
  font-weight: 1000;
  color: inherit;
  pointer-events: none;
  /* Add any other styles for active state */
}
.navigation-bar ul li:hover {
  color: inherit !important; /* Change the color on hover */
}

li {
  margin-right: 50px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a:hover {
  color: #FFD700;
}
a:active{
  font-weight: bold;
}
.outer-block-about {
  background-color: #CFAA87;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;

}
.outer-block-home{
  background-color: #CFAA87;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #7D1310;
  font-size: 26px;
  margin-top: 25%;

}

.content {
  color: white;
  font-size: 24px;
}
.navigation-bar.top {
  flex-direction: column;
  margin-bottom: 20px;
}
.inner-block-home{
  display: flex;
  justify-content: center;

}

.outer-block-contact{
  background-color: #CFAA87;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.inner-block-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
}

.form-field {
  background-color: #B18B6A;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  margin: 1%;
  padding: 3%;
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
}

.form-field label {
  margin-right: 10px;
}

.form-message {
  height: 150px;
}

.submit-button {
  background-color: #7D1310;
  color: white;
  border-radius: 100px;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4E0D0A; /* Change the color on hover if desired */
}
input {
  background: #B18B6A;
  border: none;
  height: 25px;
  width: 300px;
}
textarea{
  background: #B18B6A;
  border: none;
  width: 500px;
  height: 130px;
}
.outer-block-map {
  background: #CFAA87;
  width: 90%;
  height: 100%;
  display: flex; /* Use flexbox for the outer container */
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

}
.center-block {
  /* New block style */
  background: #e1c6a8;
  flex: 1; /* Allow the block to grow and take remaining space */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

.left-block {
  background: #CFAA87;
  width: 30%;
  display: flex;
  flex-direction: column;
  /* Avoid specifying height unless necessary */
}

.right-block {
  background: #CFAA87;
  width: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
div.outer-block-map > div.left-block > div > input{
  background: #B18B6A;
  margin-left: 4%;
  border-radius: 5px;
  height: 30px;
  width: 78%;
  color: white;
}
div.outer-block-map > div.left-block > div > label{
  padding-top: 1%;
  padding-left: 5%;
  color: white;
}
div.outer-block-map > div.left-block > label{
  padding-top: 1%;
  padding-left: 5%;
  color: white;
}
div.outer-block-map > div.left-block > div{
  display: flex;
  margin-top: 1%;
}
div.outer-block-map > div.left-block > div > select{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 20px;
  width: 25%;
  background: #B18B6A;
  margin-top: 1%;
  margin-left: 1%;
  border-radius: 5px;
  color: white;
}
.left-block-results{
  width: 90%;
  height: 90%;
  overflow-y: auto;
  direction: rtl;
  background: #B18B6A;
  margin-top: 2%;
  margin-left: 5%;
  border-radius: 10px;
}
.h2-map{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  color: #7D1310;
}
.right-block-details{
  width: 90%;
  height: 100%;
  margin-left: 5%;
  background: #B18B6A;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.address-result{
  color: #7D1310;
  margin-left: 10%;
  width: 60%;
  height: 10%;
  background: #B18B6A;
  border-radius: 10px;
}
.contact-result{
  color: #7D1310;
  margin-left: 10%;
  width: 60%;
  height: 10%;
  background: #B18B6A;
  border-radius: 10px;
}
.working-hrs-result{
  color: #7D1310;
  margin-left: 10%;
  width: 60%;
  height: 10%;
  background: #B18B6A;
  border-radius: 10px;
}
div.outer-block-map > div.right-block > div > label
{
  padding-top: 10%;
  font-size: 1.2em;
  padding-left: 10%;
  color: white;
}
.social-result {
  margin-top: 10%;
  width: 100%;
  height: 10%;
  border-radius: 1%;
  margin-left: 25%;
}
div.outer-block-map > div.right-block > div > div.social-result > a > img {
  width: 35px;
  height: 35px;
  padding-right: 10%;
}
.result_divs{
  width: 97%;
  height: 10%;
  padding-top: 1%;
  padding-left: 1%;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1em;
  text-align: center;
  color: #7D1310;
  border-radius: 5px;
  background-color: #e1c6a8;
}